# 第4章 取得資料來源
## 匯入外部資料

### 匯入.xlsx

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = r"/content/drive/MyDrive/Colab Notebooks/03 用excel學python(書本範例)/data/test.xlsx"

In [ ]:
df = pd.read_excel(file_path)
df

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [ ]:
#指定匯入哪個Sheet
df = pd.read_excel(file_path, sheet_name="工作表1")
df

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [ ]:
df = pd.read_excel(file_path, sheet_name = 0)
df

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [ ]:
df = pd.read_excel(file_path, sheet_name = 0, index_col = 0)
df

    年齡 性別       註冊時間
編號
A1  54  男 2018-08-08
A2  16  女 2018-08-09
A3  47  女 2018-08-10
A4  41  男 2018-08-11

In [ ]:
#使用第一列作為欄索引
df = pd.read_excel(file_path, sheet_name = 0,header = 0)
df

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [ ]:
#使用第1列行作為欄索引
df = pd.read_excel(file_path, sheet_name = 0,header = 1)
df

   A1  54  男 2018-08-08 00:00:00
0  A2  16  女          2018-08-09
1  A3  47  女          2018-08-10
2  A4  41  男          2018-08-11

In [ ]:
#使用預設從0開始的數作為欄索引
df = pd.read_excel(file_path, sheet_name = 0,header = None)
df

    0   1   2                    3
0  編號  年齡  性別                 註冊時間
1  A1  54   男  2018-08-08 00:00:00
2  A2  16   女  2018-08-09 00:00:00
3  A3  47   女  2018-08-10 00:00:00
4  A4  41   男  2018-08-11 00:00:00

In [ ]:
#匯入指定欄
df = pd.read_excel(file_path, usecols = [0])
df

   編號
0  A1
1  A2
2  A3
3  A4

In [ ]:
# 以列表形式匯入多個指定欄
df = pd.read_excel(file_path, usecols = [0,2])
df

   編號 性別
0  A1  男
1  A2  女
2  A3  女
3  A4  男

### 匯入.csv

In [ ]:
file_path = r"/content/drive/MyDrive/Colab Notebooks/03 用excel學python(書本範例)/data/test.csv"

In [ ]:
df = pd.read_csv(file_path,encoding="UTF-8")
df

   編號  年齡 性別       註冊時間
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

In [ ]:
df = pd.read_csv(file_path)
df

   編號  年齡 性別       註冊時間
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

In [ ]:
df = pd.read_csv(file_path,sep = " ")
df

       編號,年齡,性別,註冊時間
0   A1,54,男,2018/8/8
1   A2,16,女,2018/8/9
2  A3,47,女,2018/8/10
3  A4,41,男,2018/8/11

In [ ]:
# 指定讀取列數
df = pd.read_csv(file_path,sep = " ",nrows = 2)
df

      編號,年齡,性別,註冊時間
0  A1,54,男,2018/8/8
1  A2,16,女,2018/8/9

In [ ]:
df1 = pd.read_csv(file_path, engine = "python",encoding = "utf-8-sig")
df1

   編號  年齡 性別       註冊時間
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

### 匯入.txt

In [ ]:
file_path = r"/content/drive/MyDrive/Colab Notebooks/03 用excel學python(書本範例)/data/test.txt"

In [ ]:
#利用read_table()匯入.txt
import pandas as pd
df1 = pd.read_csv(file_path,sep = " ")
df1

   編號  年齡 性別       註冊時間
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

## 新增資料
（本節無範例）

## 熟悉資料
### 利用head預覽前幾行

In [ ]:
file_path = r"/content/drive/MyDrive/Colab Notebooks/03 用excel學python(書本範例)/data/STOCK_DAY_2330_202209.csv"

In [ ]:
df = pd.read_csv(file_path,
                 encoding = "big5",header = 1,skipfooter=5,
                 thousands=',',engine='python')
df

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,111/09/01,42008490,20696930527,495.0,495.5,490.0,490.5,-14.50,93631,NaN
1,111/09/02,33877655,16486942365,488.0,489.5,485.0,485.0,-5.50,71175,NaN
2,111/09/05,17327720,8419762666,485.0,488.0,484.0,486.0,+1.00,27611,NaN
3,111/09/06,21197718,10364807027,488.5,491.5,486.5,489.0,+3.00,18950,NaN
4,111/09/07,38168331,18125281029,477.0,478.0,472.0,472.5,-16.50,101077,NaN
5,111/09/08,35355467,16755699888,473.0,475.0,472.0,475.0,+2.50,37943,NaN
6,111/09/12,27181969,13268334545,485.0,491.0,485.0,486.5,+11.50,26764,NaN
7,111/09/13,18916557,9329113594,495.0,495.0,491.0,493.0,+6.50,20511,NaN
8,111/09/14,25046110,12023421519,478.5,482.5,476.0,480.0,-13.00,47333,NaN
9,111/09/15,24272164,11587112712,476.0,480.0,476.0,476.5,X0.00,35435,NaN
10,111/09/16,41889816,19737743551,470.5,472.0,469.0,472.0,-4.50,51619,NaN
11,111/09/19,20724347,9713676332,472.0,473.0,466.5,467.0,-5.00,45650,NaN
12,111/09/20,23269759,11027746136,470.5,478.0,470.0,476.5,+9.50,20621,NaN
13,111/09/21,24686050,11641957557,473.5,475.5,468.5,471.0,-5.50,30847,NaN
14,111/09/22,31417685,14524615830,462.0,468.0,459.0,464.5,-6.50,53974,NaN
15,111/09/23,32804066,15005076330,458.5,460.5,455.0,455.0,-9.50,82492,NaN
16,111/09/26,34856957,15560487370,443.0,454.0,443.0,446.5,-8.50,75861,NaN
17,111/09/27,29570005,13260363913,449.0,451.5,446.0,448.0,+1.50,29995,NaN
18,111/09/28,37827459,16693442543,447.0,449.0,438.0,438.0,-10.00,78780,NaN
19,111/09/29,42884163,18748910795,443.0,443.5,432.0,435.0,-3.00,70971,NaN
20,111/09/30,58366820,24750796363,424.5,427.5,422.0,422.0,-13.00,87052,NaN

In [ ]:
df.head() #預設顯示前5列

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,111/09/01,42008490,20696930527,495.0,495.5,490.0,490.5,-14.50,93631,NaN
1,111/09/02,33877655,16486942365,488.0,489.5,485.0,485.0,-5.50,71175,NaN
2,111/09/05,17327720,8419762666,485.0,488.0,484.0,486.0,+1.00,27611,NaN
3,111/09/06,21197718,10364807027,488.5,491.5,486.5,489.0,+3.00,18950,NaN
4,111/09/07,38168331,18125281029,477.0,478.0,472.0,472.5,-16.50,101077,NaN

In [ ]:
df.head(2)#只顯示前2列

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,111/09/01,42008490,20696930527,495.0,495.5,490.0,490.5,-14.50,93631,NaN
1,111/09/02,33877655,16486942365,488.0,489.5,485.0,485.0,-5.50,71175,NaN

### 利用shape取得資料表的大小

In [ ]:
df.shape

(21, 10)

### 利用info取得資料類型

In [ ]:
df.info()  # 描述df的結構

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   日期          21 non-null     object
 1   成交股數        21 non-null     int64
 2   成交金額        21 non-null     int64
 3   開盤價         21 non-null     float64
 4   最高價         21 non-null     float64
 5   最低價         21 non-null     float64
 6   收盤價         21 non-null     float64
 7   漲跌價差        21 non-null     object
 8   成交筆數        21 non-null     int64
 9   Unnamed: 9  0 non-null      float64
dtypes: float64(5), int64(3), object(2)
memory usage: 1.8+ KB

### 利用describe取得數值分佈情況

In [ ]:
df.describe()  # 描述df中資料的統計值

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,成交筆數,Unnamed: 9
count,2.100000e+01,2.100000e+01,21.000000,21.000000,21.000000,21.000000,21.000000,0.0
mean,3.150711e+07,1.465344e+10,469.261905,472.309524,466.023810,468.071429,52775.809524,NaN
std,9.999195e+06,4.233538e+09,19.016190,18.527329,19.932057,20.074415,26525.031545,NaN
min,1.732772e+07,8.419763e+09,424.500000,427.500000,422.000000,422.000000,18950.000000,NaN
25%,2.427216e+07,1.158711e+10,458.500000,460.500000,455.000000,455.000000,29995.000000,NaN
50%,3.141768e+07,1.452462e+10,473.000000,475.500000,470.000000,472.500000,47333.000000,NaN
75%,3.782746e+07,1.675570e+10,485.000000,488.000000,484.000000,485.000000,75861.000000,NaN
max,5.836682e+07,2.475080e+10,495.000000,495.500000,491.000000,493.000000,101077.000000,NaN

In [ ]:
# 含有多欄數值型別欄位的DataFrame
df = pd.DataFrame([[20,5000,2],[25,8000,3],[30,9000,3],[28,7000,2]], columns = ["年齡","收入","家屬數"])
df

   年齡    收入  家屬數
0  20  5000    2
1  25  8000    3
2  30  9000    3
3  28  7000    2

In [ ]:
df.describe()

              年齡           收入      家屬數
count   4.000000     4.000000  4.00000
mean   25.750000  7250.000000  2.50000
std     4.349329  1707.825128  0.57735
min    20.000000  5000.000000  2.00000
25%    23.750000  6500.000000  2.00000
50%    26.500000  7500.000000  2.50000
75%    28.500000  8250.000000  3.00000
max    30.000000  9000.000000  3.00000

In [ ]:
df.dtypes  # 只看每一個欄位的資料型別

日期             object
成交股數            int64
成交金額            int64
開盤價           float64
最高價           float64
最低價           float64
收盤價           float64
漲跌價差           object
成交筆數            int64
Unnamed: 9    float64
dtype: object